.image{
    margin: auto;
    height: 550px;
    object-fit: cover;
    border-radius: 3%;
    padding: 0px;
    width: 95%;

    /* height: fit-content; */
}
.slick-prev {
display: none !important; 
  }
  
.slick-next {
display: none !important;
  }
