/* SingleImage.css */

.single-image-container {
display: block;
margin-left:auto ;
margin-right: auto;
width: 100%;

  background-color: #000000; /* Set the background color as needed */
  border-radius: 5px;
  
}

.image-wrapper {
  display: block;
margin-left:auto ;
margin-right: auto;
  width: 100%;
  max-width: 100%; /* Set the maximum width of the image wrapper */
}

.centered-image {
  width: 100%;
  height: auto;
  display: block;
  margin-left:auto ;
  margin-right: auto;
  max-height: 100%; /* Ensure the image doesn't exceed the container's height */


}

