/* navbar.css */
nav{
  font-family: 'Lilita One', sans-serif;
}
@keyframes radialMenu {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .hamburger-icon {
    &::before,
    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 2px;

      position: absolute;
      transition: transform 0.3s ease-in-out;
    }
  
    &::before {
      top: -8px;
    }
  
    &::after {
      top: 8px;
    }
  
    &:hover::before {
      transform: translateY(8px);
    }
  
    &:hover::after {
      transform: translateY(-8px);
    }
  
    &.open::before {
      transform: rotate(-45deg) translate(-5px, 7px);
    }
  
    &.open::after {
      transform: rotate(45deg) translate(-5px, -7px);
    }
  }
  /* navbar.css */

/* navbar.css */

.hamburger-icon {
    width: 24px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .cross .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .cross .line:nth-child(2) {
    opacity: 0;
  }
  
  .cross .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
.ham{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
text-align: center;
    font-size: 22px;
    
}
.w-60 {
    width: 400px !important;
    text-align: center;
  }
  /* Rest of your existing CSS styles */
  
  
  /* Rest of your existing CSS styles */
  
  /* ... (existing styles) */
  